<div class="wrapper">
  <h3>Fetch links from http://www.informador.com.mx/</h3>
  <p>This application fetch all links available on the given url</p>

  <div id="main-container" class="row">
    <div id="tree-container" class="col-lg-12"></div>
  </div>

  <footer class="site-footer">
    <div class="text-center">
      &copy; Abiee 2015
    </div>
  </footer>
</div>
